@model RMF.Entities.Control

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Control</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyControl.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyControl.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
