@model IEnumerable<RMF.Entities.SystemControl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Control.ControlName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RMFSystem.SystemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FindingResultDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FindingRecommendation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FindingStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Control.ControlName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RMFSystem.SystemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FindingResultDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FindingRecommendation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FindingStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
